@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    padding: 40px 0;
    font-family: Arimo;
    background-color: #F9FAFB;
}

.main-container {
    background-color: #f9f9f9;
}

.content-table {
    background-color: #ffffff;
    border-radius: 9px;
    overflow: hidden;
}

/* Header */
.header-bg {
    background-image: linear-gradient(to right, #8B1538, #6B0F2A);
    padding: 30px 40px;
}

.logo-circle {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.header-text {
    padding-left: 15px;
    color: #ffffff;
}

.title-en {
    font-size: 22px;
    font-weight: bold;
}

.title-ar {
    font-size: 14px;
    opacity: 0.8;
}

.space-header {
    height: 10px;
    background-image: linear-gradient(to right, #8B1538, #FE9A00, #8B1538);
}

/* Body */
.body-padding {
    padding: 40px;
}

.greeting {
    font-size: 16px;
    color: #101828;
    margin-bottom: 25px;
}

.verification-card {
    border: 1px solid #d6cfb4;
    border-radius: 12px;
    padding: 30px;
}

.card-header {
    margin-bottom: 15px;
}

.shield-icon {
    font-size: 18px;
    margin-right: 8px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #101828;
}

.card-text {
    font-size: 16px;
    color: #4A5565;
    line-height: 1.5;
    margin-bottom: 25px;
}

.btn-container {
    text-align: center;
    margin-bottom: 20px;
}

.verify-btn {
    background-image: linear-gradient(to right, #8B1538, #6B0F2A);
    color: #ffffff;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 7px;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    width: 500px;
}

.expiry-alert {
    background-color: #FFFBEB;
    border: 1px solid #FEE685;
    border-radius: 6px;
    color: #973C00;
    font-size: 14px;
    padding: 10px;
}

.info-note {
    margin-top: 20px;
    background-color: #F9FAFB;
    border-radius: 6px;
    color: #4A5565;
    font-size: 13px;
    padding: 15px;
    border-left: 4px solid #D1D5DC;
}

/* Footer  */
.footer-padding {
    padding: 0 40px 40px 40px;
}

.regards {
    font-size: 14px;
    color: #666;
}

.company-name {
    font-size: 16px;
    font-weight: bold;
    color: #7B1131;
}

.slogan {
    font-size: 14px;
    color: #999;
}